


    <h1 id="stockbanner" class="well" align="center">Stocks in Database</h1> 
  
    <div class="dropdown">
      <button>Button</button>
      <div>
        <button ng-click="reloadPage('0')" </button>
        <button ng-click="reloadPage('1')"</button>
        <button ng-click="reloadPage('2')"</button>
        <button ng-click="reloadPage('3')"4</button>
        <button ng-click="reloadPage('4')"5</button>
          <button ng-click="reloadPage('5')"5</button></button>
      </div>
    </div>

      
     <table class="table table">
      <thead>
        <tr>
          <th></th>
          <th>Description</th>
          <th>Exc</th>
          <th>Symbol</th>
          <th>Date In</th>
          <th>Date Out</th>
          <th>Qty</th>
          <th>Total Qty</th>
          <th>Cost</th>
          <th>Purchase<br>Price</th>
          <th>Live Price</th>
          <th>Value</th>
          <th>Gain/Loss</th>
          <th>Total Gain/Loss</th>
          <th>% Gain/Loss</th>
          <th>Sell Costs</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="m in mothaHolda">
          <td>  <button class="btn btn-xs pull-left btn-danger" 
                ng-click="deleteStock(stock)" onClick="window.location.reload()">Delete</button> </td>
          <td>{{m[0]}}</td>
          <td>{{m[1]}}</td>
          <td>{{m[2]}}</td>
          <td>{{m[3]}}</td>
          <td>{{m[4]}}</td>
          <td>{{m[5]}}</td>
          <td>{{m[6]}}</td>
          <td>{{m[7]}}</td>
          <td>{{m[8]}}</td>
          <td>{{m[9]}}</td>
          <td>{{m[10]}}</td>
          <td>{{m[11]}}</td>
          <td>{{m[12]}}</td>
          <td>{{m[13]}}</td>
          <td>{{m[14]}}</td>
        </tr>
      </tbody>
    </table> 
  





 <!-- <div class="well">           
           
    <h1 id="stockbanner" class="well" align="center">Stocks in Database</h1>
  

              <div id="stocklist" class="well">


                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Description</th>
                        <th>Exc</th>
                        <th>Symbol</th>
                        <th>Date In</th>
                        <th>Date Out</th>
                        <th>Qty</th>
                        <th>Total Qty</th>
                        <th>Cost</th>
                        <th>Purchase<br>Price</th>
                        <th>Live Price</th>
                        <th>Value</th>
                        <th>Gain/Loss</th>
                        <th>Total Gain/Loss</th>
                        <th>% Gain/Loss</th>
                        <th>Sell Costs</th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr ng-repeat="stock in stocks">
                        <td>  <button class="btn btn-xs pull-left btn-danger" 
                              ng-click="deleteStock(stock)" onClick="window.location.reload()">Delete</button> </td>
               
                        
                              <td>{{stock.description}}</td>
                        <td>{{stock.exchangeName}}</td>
                        <td>{{stock.symbol}}</td>
                        <td>{{stock.dateIn}}</td>
                        <td>{{stock.dateOut}}</td>
                        <td>{{stock.quantity}}</td>
                        <td>{{stock.totalQuantity}}</td>
                        <td>{{stock.cost}}</td>
                        <td>{{stock.purchasePrice}}</td>
                        <td>{{stock.currentPrice}}</td>
                        <td>{{stock.value}}</td>
                        <td>{{stock.gainLoss}}</td>
                        <td>{{stock.cumGainLoss}}</td>
                        <td>{{stock.percentageGainLoss}}</td>
                        <td>{{stock.sellCosts}}</td>
                      </tr>
                    </tbody>
                  </table>

              </div>

  </div> -->





        

           
                 